@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', 'Noto Sans', Arial, Helvetica, sans-serif;
}

.t_head {
  @apply bg-slate-700 px-8 py-4 text-start font-medium text-sm text-white;
}

.t_column {
  @apply max-w-20 overflow-hidden text-ellipsis whitespace-nowrap px-4 py-5 text-xs font-normal;
}

.report_t_head {
  @apply bg-slate-700 px-8 py-4 text-center font-normal text-white;
}

.report_t_column {
  @apply max-w-20 overflow-hidden text-ellipsis whitespace-nowrap p-2 text-center text-xs font-normal;
}

.form_field {
  @apply flex flex-col gap-1 text-sm text-slate-700;
}

.form_input {
  @apply w-[15rem] rounded-md border border-slate-300 p-2 text-xs focus:outline-none xs:w-[22rem];
}

.filter_dropdown {
  @apply cursor-pointer px-4 py-2 text-xs text-slate-800 hover:bg-slate-100;
}

.btn_success {
  @apply z-0 rounded-md bg-green-600 py-2 font-medium text-white;
}

.btn_pending {
  @apply z-0 rounded-md bg-orange-600 py-2 font-medium text-white;
}

.btn_failed {
  @apply z-0 rounded-md bg-red-600 py-2 font-medium text-white;
}

@keyframes gradientTransition {
  0% {
    background: linear-gradient(
      124deg,
      rgba(24, 20, 80, 1) 0%,
      rgba(45, 86, 147, 1) 55%,
      rgba(0, 76, 120, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      124deg,
      rgba(24, 20, 80, 1) 0%,
      rgba(24, 20, 80, 1) 55%,
      rgba(0, 76, 120, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      124deg,
      rgba(24, 20, 80, 1) 0%,
      rgba(24, 20, 80, 1) 55%,
      rgba(24, 20, 80, 1) 100%
    );
  }
}

.button-gradient {
  background: linear-gradient(
    124deg,
    rgba(24, 20, 80, 1) 0%,
    rgba(45, 86, 147, 1) 55%,
    rgba(0, 76, 120, 1) 100%
  );
  background-size: 200% 200%;
  transition: background 0.15s ease-in-out;
}

.button-gradient:hover {
  animation: gradientTransition 0.15s forwards;
}

@keyframes greenGradientTransition {
  0% {
    background: linear-gradient(
      124deg,
      rgba(0, 120, 77, 1) 0%,
      rgba(45, 147, 52, 1) 55%,
      rgba(7, 203, 9, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      124deg,
      rgba(0, 120, 77, 1) 0%,
      rgba(0, 120, 77, 1) 55%,
      rgba(7, 203, 9, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      124deg,
      rgba(0, 120, 77, 1) 0%,
      rgba(0, 120, 77, 1) 55%,
      rgba(0, 120, 77, 1) 100%
    );
  }
}

.button-green-gradient {
  background: linear-gradient(
    124deg,
    rgba(0, 120, 77, 1) 0%,
    rgba(45, 147, 52, 1) 55%,
    rgba(7, 203, 9, 1) 100%
  );
  background-size: 200% 200%;
  transition: background 0.15s ease-in-out;
}

.button-green-gradient:hover {
  animation: greenGradientTransition 0.15s forwards;
}

@keyframes redGradientTransition {
  0% {
    background: linear-gradient(
      113deg,
      rgba(205, 87, 87, 1) 0%,
      rgba(186, 68, 68, 1) 57%,
      rgba(214, 26, 26, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      113deg,
      rgba(205, 87, 87, 1) 0%,
      rgba(186, 68, 68, 1) 57%,
      rgba(186, 68, 68, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      113deg,
      rgb(182, 30, 30) 0%,
      rgba(186, 68, 68, 1) 57%,
      rgba(186, 68, 68, 1) 100%
    );
  }
}

.button-red-gradient {
  background: linear-gradient(
    113deg,
    rgb(199, 69, 69) 0%,
    rgb(210, 55, 55) 57%,
    rgba(214, 26, 26, 1) 100%
  );
  background-size: 200% 200%;
  transition: background 0.15s ease-in-out;
}

.button-red-gradient:hover {
  animation: redGradientTransition 0.15s forwards;
}

.line-of-dots:before {
  -webkit-animation: line-of-dots 1s infinite ease backwards;
  animation: line-of-dots 1s infinite ease backwards;
  border-radius: 100%;
  content: '';
  height: 10px;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  width: 10px;
}

@-webkit-keyframes line-of-dots {
  0% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
  }
  10% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 -10px var(--primary),
      0 10px 0 -10px var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  20% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 -10px var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  30% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  40% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  50% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 0 var(--primary);
  }
  60% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 0 var(--primary);
  }
  70% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
  }
  80% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
  }
  90% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 0 var(--primary);
  }
  100% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
  }
}

@keyframes line-of-dots {
  0% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
  }
  10% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 -10px var(--primary),
      0 10px 0 -10px var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  20% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 -10px var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  30% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 -10px var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  40% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 -10px var(--primary);
  }
  50% {
    -webkit-box-shadow: -30px 10px 0 0 var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 0 var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 0 var(--primary);
  }
  60% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 0 var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary), -15px 10px 0 0 var(--primary),
      0 10px 0 0 var(--primary), 15px 10px 0 0 var(--primary),
      30px 10px 0 0 var(--primary);
  }
  70% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 0 var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
  }
  80% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 0 var(--primary), 30px 10px 0 0 var(--primary);
  }
  90% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 0 var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 0 var(--primary);
  }
  100% {
    -webkit-box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
    box-shadow: -30px 10px 0 -10px var(--primary),
      -15px 10px 0 -10px var(--primary), 0 10px 0 -10px var(--primary),
      15px 10px 0 -10px var(--primary), 30px 10px 0 -10px var(--primary);
  }
}
